<h1>Editing <%= t('activerecord.models.tm_table') %></h1>

<%= render 'form' %>

<%= link_to 'Show', @tm_table , class: "btn btn-mini btn-default"%> |
<%= link_to 'Back', tm_tables_path , class: "btn btn-mini btn-default"%>
